<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="resources/js/utilities.js" type="text/javascript"></script>

<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="resources/css/schede.css"/>
<link rel="stylesheet" href="resources/css/bootstrap.min.css"/>
<title>Scheda Quadrato</title>
</head>


<body>

<header>
<div class="header_content"><h1>Scheda Quadrato</h1></div>
</header>

<div id="main_container">

<form id="form_scheda_quadrato" action="/inserisciQuadrato" method="post">

  <fieldset id="info_scheda_field">
    <legend>Informazioni Scheda</legend>
    <ol>
	<li class="left"><label for="numeroScheda">Numero scheda</label><input id="numeroScheda" name="numeroScheda" type="number" th:value="${scheda} ? ${scheda.numeroScheda}" /></li>
	<li class="right"><label for="ut">UT</label><input id="ut" name="ut" type="text" onfocus="fill_UT(this.form)" th:value="${scheda} ? ${scheda.ut}" /></li>
	<li class="left"><label for="data">Data compilazione</label><input id="data" name="data" type="date" placeholder="AAAA-MM-GG" th:value="${scheda} ? ${scheda.data}" /></li>
	<li class="right"><label for="numeroQuadrato">Numero Quadrato</label><input id="numeroQuadrato" name="numeroQuadrato" type="text" th:value="${scheda} ? ${scheda.numeroQuadrato}" /><input id="converti" type="button" onclick="this.form.numeroQuadrato.value='Q.'+roman(this.form.numeroQuadrato.value,1)" value="converti"/></li>
        <li class="left"><label for="meteo">Meteo</label><input id="meteo" name="meteo" type="text" th:value="${scheda} ? ${scheda.meteo}" /></li>
        <li class="right"><label for="area">Area</label>
	  <select id="area" name="area">
	  <option value="0" th:selected="${scheda}"> </option>
	  <option value="1" th:selected="${scheda} and ${scheda.area}==1"> Area1 </option>
	  <option value="2" th:selected="${scheda} and ${scheda.area}==2"> Area2 </option>
	  <option value="3" th:selected="${scheda} and ${scheda.area}==3"> Area3 </option>
	  <option value="4" th:selected="${scheda} and ${scheda.area}==4"> Area4 </option>
	  <option value="5" th:selected="${scheda} and ${scheda.area}==5"> Area5 </option>
	  <option value="6" th:selected="${scheda} and ${scheda.area}==6"> Area6 </option>
	  </select>
	</li>
    <li class="left"><label for="oraInizio">Ora inizio</label><input id="oraInizio" name="oraInizio" type="time" th:value="${scheda} ? ${scheda.oraInizio}"/></li>
    <li class="right"><label for="oraFine">Ora fine</label><input id="oraFine" name="oraFine" type="time" th:value="${scheda} ? ${scheda.oraFine}"/></li>
    <li class="left"><label for="identificatoriPicchetti">Punti Battuti</label><input id="identificatoriPicchetti" name="identificatoriPicchetti" type="text" th:value="${scheda} ? ${scheda.identificatoriPicchetti}"/></li>
    <li class="right"><label for="longitudiniString">Longitudini PB</label><input id="longitudiniString" name="longitudiniString" type="text" th:value="${scheda} ? ${scheda.longitudiniString}"/></li>
    <li class="left"><label for="latitudiniString">Latitudini PB</label><input id="latitudiniString" name="latitudiniString" type="text" th:value="${scheda} ? ${scheda.latitudiniString}"/></li>
	</ol>
  </fieldset>
  
  <fieldset><legend>Quote PB</legend>
    <ol>
      <li class="left"><label for="quota1">Quota 1</label><input id="quota1" name="quota1" type="number" th:value="${scheda} ? ${scheda.quota1}"/></li>
      <li><label for="quota2">Quota 2</label><input id="quota2" name="quota2" type="number" th:value="${scheda} ? ${scheda.quota2}"/></li>
      <li class="left"><label for="quota3">Quota 3</label><input id="quota3" name="quota3" type="number" th:value="${scheda} ? ${scheda.quota3}"/></li>
      <li><label for="quota4">Quota 4</label><input id="quota4" name="quota4" type="number" th:value="${scheda} ? ${scheda.quota4}"/></li>
    </ol>
  </fieldset>
  
  <fieldset id="caratteristiche_quadrato_field"><legend>Caratteristiche Quadrato</legend>
    <ol>
<!--       <li class="left"><label for="US_USM">Numero US/USM</label><input id="US_USM" name="US_USM" /></li> -->
      <!--  (pre-compilato con javascript) -->
      <li><label for="pendenza">Pendenza</label><input id="pendenza" name="pendenza" type="number" onfocus="fill_pendenza(this.form)"/></li>
    
      <li class="left"><fieldset class="radio"><legend> Fisiografia </legend>
        <ul>
	  <li><label for="piede"> <input type="radio" id="piede" name="fisiografia" value="piede" th:checked="${scheda} ? ${scheda.fisiografia}=='piede'"/> Piede </label></li>
	  <li><label for="versante"> <input type="radio" id="versante" name="fisiografia" value="versante" th:checked="${scheda} ? ${scheda.fisiografia}=='versante'"/> Versante </label></li>
	  <li><label for="spalla"> <input type="radio" id="spalla" name="fisiografia" value="spalla" th:checked="${scheda} ? ${scheda.fisiografia}=='spalla'"/> Spalla </label></li>
	  <li><label for="piano"> <input type="radio" id="piano" name="fisiografia" value="piano" th:checked="${scheda} ? ${scheda.fisiografia}=='piano'"/> Piano </label></li>
	</ul>
	  </fieldset></li>
      <li class="right"><fieldset class="radio"><legend> Visibilit&agrave; </legend>
	  <ul>
	  <li><label for="ottima"> <input type="radio" id="ottima" name="visibilita" value="ottima" th:checked="${scheda} ? ${scheda.visibilita}=='ottima'"/> Ottima </label></li>
	  <li><label for="buona"> <input type="radio" id="buona" name="visibilita" value="buona" th:checked="${scheda} ? ${scheda.visibilita}=='buona'"/> Buona </label></li>
	  <li><label for="scarsa"> <input type="radio" id="scarsa" name="visibilita" value="scarsa" th:checked="${scheda} ? ${scheda.visibilita}=='scarsa'"/> Scarsa </label></li>
	  <li><label for="insufficiente"> <input type="radio" id="insufficiente" name="visibilita" value="insufficiente" th:checked="${scheda} ? ${scheda.visibilita}=='insufficiente'"/> Insufficiente </label></li>
	  </ul>
	</fieldset></li>
      <li class="left"><fieldset class="radio"><legend> Vegetazione </legend>
	  <ul>
	  <li><label for="assente"> <input type="radio" id="assente" name="vegetazione" value="assente" th:checked="${scheda} ? ${scheda.vegetazione}=='assente'"/> Assente </label></li>
	  <li><label for="rada"> <input type="radio" id="rada" name="vegetazione" value="rada" th:checked="${scheda} ? ${scheda.vegetazione}=='rada'" /> Rada </label></li>
	  <li><label for="consistente"> <input type="radio" id="consistente" name="vegetazione" value="consistente" th:checked="${scheda} ? ${scheda.vegetazione}=='consistente'"/> Consistente </label></li>
	  <li><label for="occultante"> <input type="radio" id="occultante" name="vegetazione" value="occultante" th:checked="${scheda} ? ${scheda.vegetazione}=='occultante'"/> Occultante </label></li>
	  </ul>
	</fieldset></li>
      <li class="right"><fieldset class="radio"><legend> Tessitura terreno </legend>
	  <ul>
	  <li><label for="limoso"> <input type="checkbox" id="limoso" name="tessitura" value="limoso" th:checked="${scheda} ? ${#arrays.contains(scheda.tessitura, 'limoso')}"/> Limoso </label></li>
	  <li><label for="argilloso"> <input type="checkbox" id="argilloso" name="tessitura" value="argilloso" th:checked="${scheda} ? ${#arrays.contains(scheda.tessitura, 'argilloso')}"/> Argilloso </label></li>
	  <li><label for="sabbioso"> <input type="checkbox" id="sabbioso" name="tessitura" value="sabbioso" th:checked="${scheda} ? ${#arrays.contains(scheda.tessitura, 'sabbioso')}"/> Sabbioso </label></li>
	  <li><label for="inclusiLitici"> <input type="checkbox" id="inclusiLitici" name="tessitura" value="inclusiLitici" th:checked="${scheda} ? ${#arrays.contains(scheda.tessitura, 'inclusiLitici')}"/> Con inclusi litici </label></li>
	  </ul>
	</fieldset></li>
      <li class="left"><fieldset class="radio"><legend> Umidit&agrave; </legend>
	  <ul>
	  <li><label for="bagnato"> <input type="radio" id="bagnato" name="umidita" value="bagnato" th:checked="${scheda} ? ${scheda.umidita}=='bagnato'"/> Bagnato </label></li>
	  <li><label for="secco"> <input type="radio" id="secco" name="umidita" value="secco" th:checked="${scheda} ? ${scheda.umidita}=='secco'"/> Secco </label></li>
	  <li><label for="umido"> <input type="radio" id="umido" name="umidita" value="umido" th:checked="${scheda} ? ${scheda.umidita}=='umido'"/> Umido </label></li>
	  </ul>
      </fieldset></li>
    </ol>
  </fieldset>
  
<!--<fieldset id="reperti_archeologici_field"><legend> Reperti Archeologici </legend>
    
       <?php require("./PHP_mySQL/genera_tabelle.php");
      $array_rep_arch = array("Monete", "RepertiLitici", "Metalli", "Ossi", "Vetro");
      //genera_reperti($array_rep_arch);
      genera_conteggio_scheda_quadrato($array_rep_arch);
      ?>
    
</fieldset>
-->

<!--<fieldset id="reperti_strutturali_field"><legend> Reperti Strutturali </legend>
    
      <?php
      $array_rep_arch = array("Malta", "Coppi/Tegole", "ElementiLiticiStrutturali", "Laterizi");
      //genera_reperti($array_rep_arch);
      genera_conteggio_scheda_quadrato($array_rep_arch);
      ?>
    
</fieldset>
-->
<!--<fieldset id="ceramica_field"><legend> Ceramica </legend>
    
      <?php
       $array_rep_arch = array("Orli", "Fondi", "Pareti", "Becchi", "Anse", "Altro");
      //genera_reperti($array_rep_arch);
      genera_conteggio_scheda_quadrato($array_rep_arch);
      ?>
    
</fieldset>
-->

<fieldset class="left" id="descrizione_field"><legend>Descrizione</legend>
<textarea class="textarea" id="descrizione" name="descrizione" cols="150" rows="4" th:text="${scheda} ? ${scheda.descrizione}"></textarea>
</fieldset>

<fieldset class="right" id="osservazioni_field"><legend>Osservazioni</legend>
  <textarea class="textarea" id="osservazioni" name="osservazioni" cols="150" rows="4" th:text="${scheda} ? ${scheda.osservazioni}"></textarea>
</fieldset>

<fieldset id="autori_field"><legend>Autori</legend>
  <ol>
    <li class="left"><label for="autore1">Autore1</label><input class="inline_input" id="autore1" name="autore1" type="text" placeholder="Nome Cognome" th:value="${scheda} ? ${scheda.autore1}" /></li>
    <li class="right"><label for="autore2">Autore2</label><input class="inline_input" id="autore2" name="autore2" type="text" placeholder="Nome Cognome" th:value="${scheda} ? ${scheda.autore2}" /></li>
  </ol>
</fieldset>

<fieldset class="field" id="button_field">
<input form="form_scheda_quadrato" class="bottone" type="reset" />
<input form="form_scheda_quadrato" class="bottone" type="submit" />
</fieldset>


</form>

</div>


</body>
<footer>
</footer>
</html>
